<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div id="paymentMethods"></div>
    <script>
      var CREATE_PAYMENT_URL = 'https://my-store.com/paypal/create-payment';
      paypal.Button.render({
        env: 'production', // Optional: specify 'sandbox' environment
        payment: function () {
          return paypal.request.post(CREATE_PAYMENT_URL).then(function (data) {
            return data.paymentID;
          });
        },
        onAuthorize: function (data, actions) {
          console.log(data);

          return actions.redirect();
        },
        onCancel: function (data, actions) {
          return actions.redirect();
        }
      }, '#paymentMethods');

    </script>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <!-- row -->
    </div>


</body>

</html>