<!DOCTYPE html>
<html>

<head>
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="ammount">Ammount</label>
              <input type="text" class="form-control" id="ammount">
            </div>
            <div class="col-md-6 form-group">
              <label for="baid">Billing Agreement:</label>
              <input type="text" class="form-control" id="baid">
            </div>
          </div>
          <div class="row" id="installments-container">
            <div class="col-md-12 form-group">
              <label for="ammount">Installments</label>
              <select class="form-control" id="installments">
              </select>
            </div>
          </div>
          <div class="row">
            <div id="paymentMethodsLog" class="alert alert-info"></div>
          </div>
        </div>
        <div class="col-md-6">

          <h4>Pay with PayPal - Server Side</h4>

          <div id="paymentMethods"></div>

          <script>
            $("#paymentMethodsLog").hide();

            paypal.Button.render({

              style: {
                size: 'medium',
                color: 'blue',
                shape: 'rect',
                label: 'pay'
              },

              env: 'sandbox', // Optional: specify 'sandbox' environment
              payment: function () {
                startPayment();

                return paypal.request.post(CREATE_PAYMENT_URL).then(function (data) {
                  console.log(data);

                  return data.token;
                });
              },
              onAuthorize: function (data, actions) {
                console.log(data);

                createBillingAgreement(data);

                //executePayment(data);

                //return actions.redirect();
              },
              onCancel: function (data, actions) {
                $("#paymentMethodsLog").append("Payment cancelled.")
                  .removeClass("alert-info").addClass("alert-warning");

                //return actions.redirect();
              }
            }, '#paymentMethods');
          </script>

        </div>
      </div>
      <!-- row -->
    </div>

    <script>
            var CREATE_PAYMENT_URL = window.location.href + 'paypal/create-payment?value=' + $("#ammount").val();
            var EXECUTE_PAYMENT_URL = window.location.href + 'paypal/execute-payment';
            var BILLING_AGREEMENT_URL = window.location.href + 'paypal/billing-agreement';
            var INSTALLMENTS_URL = window.location.href + 'paypal/installments';

            var startPayment = function () {
              $("#installments-container").hide();
              $("#paymentMethodsLog").show()
                .removeClass("alert-success")
                .removeClass("alert-danger")
                .removeClass("alert-warning")
                .addClass("alert-info")
                .html("Payment started.<br>");

            };

            var executePayment = function (data) {
              $("#paymentMethodsLog").append("Payment authorized.<br>");
              $("#paymentMethodsLog").append("Executing payment...");

              $.ajax({
                type: "POST",
                url: EXECUTE_PAYMENT_URL,
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                  console.log(data);

                  $("#paymentMethodsLog").append("success.<br>")
                    .removeClass("alert-info")
                    .addClass("alert-success");
                },
                error: function (request, status, error) {
                  console.log(status, error);

                  $("#paymentMethodsLog").append("error.<br>")
                    .removeClass("alert-info").addClass("alert-danger");
                }
              });
            };

            var createBillingAgreement = function (data) {
              $("#paymentMethodsLog").append("Payment authorized.<br>");
              $("#paymentMethodsLog").append("Creating billing agreement...");

              $.ajax({
                type: "POST",
                url: BILLING_AGREEMENT_URL,
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                  console.log(data);

                  $("#paymentMethodsLog").append("success.<br>")
                    .removeClass("alert-info")
                    .addClass("alert-success");

                  $("#baid").val(data.billingAgreementId).change();
                },
                error: function (request, status, error) {
                  console.log(status, error);

                  $("#paymentMethodsLog").append("error.<br>")
                    .removeClass("alert-info").addClass("alert-danger");
                }
              });

            };

            var loadInstallments = function (value, baId) {

              $("#installments-container").hide();
              $("#installments").empty();

              console.log('loadInstallments', value, baId);

              $("#paymentMethodsLog").show().append("<br>Loading installments...");

              $.ajax({
                type: "POST",
                url: INSTALLMENTS_URL,
                contentType: "application/json",
                data: JSON.stringify({
                  value: value,
                  baId: baId
                }),
                success: function (data) {
                  console.log(data);

                  $("#paymentMethodsLog").append("success.");

                  var financing_options = data.financing_options[0].qualifying_financing_options;

                  $("#installments-container").show();

                  financing_options.forEach((o, i) => {
                    console.log(o);
                    $('#installments').append($('<option>', {
                      value: o.credit_financing.term,
                      text: `${o.credit_financing.term}x ${o.monthly_payment.value} ${o.monthly_payment.currency_code} - (total: ${o.total_cost.value} ${o.total_cost.currency_code})`
                    }));
                  });
                },
                error: function (request, status, error) {
                  console.log(status, error);

                  $("#paymentMethodsLog").append("error.")
                    .removeClass("alert-success").addClass("alert-danger");
                }
              });
            };

            $(function () {
              console.log("page loaded" + new Date());

              $("#installments-container").hide();

              var randomValue = parseInt(500 + Math.random() * 1000) + "." + parseInt(Math.random() * 99);
              $("#ammount").val(randomValue).on("change", function () {
                if ($("#baid").val() != "") {
                  $("#baid").change();
                }
              });

              $("#baid").on("change", function () {
                loadInstallments($("#ammount").val(), $("#baid").val());
              });
            });
    </script>
</body>

</html>