<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script>
      var startPayment = function() {
        $("#paymentMethodsLog").show()
                  .removeClass("alert-success")
                  .removeClass("alert-danger")
                  .removeClass("alert-warning")
                  .addClass("alert-info")
                  .html("Payment started.<br>");

      };
      var executePayment = function (data) {
        $("#paymentMethodsLog").append("Payment authorized.<br>");
        $("#paymentMethodsLog").append("Executing payment...");

        $.ajax({
          type: "POST",
          url: EXECUTE_PAYMENT_URL,
          contentType: "application/json",
          data: JSON.stringify(data),
          success: function (data) {
            console.log(data);

            $("#paymentMethodsLog").append("success.")
              .removeClass("alert-info")
              .addClass("alert-success");
          },
          error: function (request, status, error) {
            console.log(status, error);

            $("#paymentMethodsLog").append("error.")
              .removeClass("alert-info").addClass("alert-danger");
          }
        });

      };
    </script>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="ammount">Ammount</label>
              <input type="text" class="form-control" id="ammount" value="10.06">
            </div>
          </div>
          <div class="row">
            <div id="paymentMethodsLog" class="alert alert-info"></div>
          </div>
        </div>
        <div class="col-md-6">

          <h4>Pay with PayPal - Server Side</h4>

          <div id="paymentMethods"></div>

          <script>
            var CREATE_PAYMENT_URL = window.location.href + 'paypal/create-payment?value=' + $("#ammount").val();
            var EXECUTE_PAYMENT_URL = window.location.href + 'paypal/execute-payment';

            $("#paymentMethodsLog").hide();

            paypal.Button.render({

              style: {
                size: 'medium',
                color: 'silver',
                shape: 'pill',
                label: 'pay'
              },

              env: 'sandbox', // Optional: specify 'sandbox' environment
              payment: function () {
                startPayment();

                return paypal.request.post(CREATE_PAYMENT_URL).then(function (data) {
                  console.log(data);

                  return data.paymentID;
                });
              },
              onAuthorize: function (data, actions) {
                console.log(data);

                executePayment(data);

                //return actions.redirect();
              },
              onCancel: function (data, actions) {
                $("#paymentMethodsLog").append("Payment cancelled.")
                  .removeClass("alert-info").addClass("alert-warning");

                //return actions.redirect();
              }
            }, '#paymentMethods');
          </script>


          <h4>Pay with PayPal - Client Side</h4>

          <div id="paymentMethodsClient"></div>

          <script>
            paypal.Button.render({

              env: 'sandbox', // Or 'sandbox'

              client: {
                sandbox: 'AVmLCuMZM_gmvximW7uQUBKEk8ROPWYz1WgILglrxo7MHCl0mlIHyfsvjWyG2w98JNO3sTO64Lzx04TM',
                production: 'xxxxxxxxx'
              },

              style: {
                size: 'medium',
                color: 'silver',
                shape: 'pill',
                label: 'pay'
              },

              commit: false, // Show a 'Pay Now' button

              payment: function (data, actions) {
                startPayment();

                return actions.payment.create({
                  payment: {
                    intent: 'order',
                    transactions: [
                      {
                        amount: { total: $("#ammount").val(), currency: 'MXN' }
                      }
                    ]
                  }
                });
              },

              onAuthorize: function (data, actions) {
                console.log(data);

                executePayment(data);
                // return actions.payment.execute().then(function (payment) {

                //   // The payment is complete!
                //   // You can now show a confirmation message to the customer
                // });
              }

            }, '#paymentMethodsClient');
          </script>

        </div>
      </div>
      <!-- row -->
    </div>


</body>

<script>
            $(function () {
              console.log("page loaded" + new Date());
            });

</script>

</html>